Repository recastnavigation/recastnavigation, pull requests merged in 2023-07, with the labels that each got.

#418 Bounds checks were unnecessary inclusive.
  Recast/Source/RecastArea.cpp
Labels: bug, Recast

#636 Improved variable naming in RecastArea.cpp
  Recast/Include/Recast.h
  Recast/Source/RecastArea.cpp
  RecastDemo/Source/Sample_SoloMesh.cpp
Labels: type: enhancement, area: documentation

#619 fix invalid assert dtAssert(npath < m_maxPath)
  DetourCrowd/Source/DetourPathCorridor.cpp
Labels: type: bug, area: DetourCrowd
